html {
  background: #f5f8fa !important;
  color: #636b6f !important;
}

.layout {
  background: #f5f8fa !important;
}

.card-header{
  background: none !important;
  border-color:#d3e0e9 !important;
}

.card{
  border-color:#d3e0e9 !important;
  color:#636b6f !important;
}

i{
  cursor: pointer;
}

a{
  cursor: pointer;
}

li{
  list-style: none;
}

#footer {
  background-color: #3f51b5 !important;
  color: white !important;
}

#footer a {
  text-decoration: none;
  color: white !important;
}

#navbar {
  background-color: #3f51b5 !important;
  color: white !important;
}

#welcome-text {
  margin-right: 5%;
}